@model UBUGenTreeMVC.Models.Usuario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="_id" />
            <div class="form-group">
                <label asp-for="_nombre" class="control-label"></label>
                <input asp-for="_nombre" class="form-control" />
                <span asp-validation-for="_nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_email" class="control-label"></label>
                <input asp-for="_email" class="form-control" />
                <span asp-validation-for="_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_contrasenaHash" class="control-label"></label>
                <input asp-for="_contrasenaHash" class="form-control" />
                <span asp-validation-for="_contrasenaHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_rol" class="control-label"></label>
                <select asp-for="_rol" class="form-control"></select>
                <span asp-validation-for="_rol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_ancestrosJSON" class="control-label"></label>
                <input asp-for="_ancestrosJSON" class="form-control" />
                <span asp-validation-for="_ancestrosJSON" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_estado" class="control-label"></label>
                <select asp-for="_estado" class="form-control"></select>
                <span asp-validation-for="_estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_ultimoIngreso" class="control-label"></label>
                <input asp-for="_ultimoIngreso" class="form-control" />
                <span asp-validation-for="_ultimoIngreso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="_intentosFallidos" class="control-label"></label>
                <input asp-for="_intentosFallidos" class="form-control" />
                <span asp-validation-for="_intentosFallidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
